<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--上一次的测试项目-->
    <add key="TestItem" value="CRP500" />
    <!--自动打印功能 -->
    <add key="AutoPrint" value="0" />
    <!--打印模式0浓度1吸光度-->
    <add key="PrintMode" value="0" />
    <!--稀释液/清洗液/废液/废片仓 容量 剩余量-->
    <add key="SupplyVolume" value="10000-10000-10000-80" />
    <add key="SupplyLeft" value="0-0-0-0" />
    <!--测试稀释液/清洗液消耗量 自检稀释液/清洗液消耗量-->
    <add key="SupplyUse" value="4-8-10-20" />
    <!--初始样本号、结束样本号、样本号循环-->
    <add key="StartSampleNo" value="1" />
    <!--废液直排模式-->
    <add key="WasteMode" value="0" />
    <!--Host Query-->
    <add key="CRPDebug" value="0" />
    <!--FluoParam-->
    <add key="FluoParam" value="180|0|0|8|1|1|0|0|1|1|0|1|0|0|300|300|300|300|32|51|100|76|160|126|10|51|100" />
    <!--是否启用CMOS、荧光、温湿度传感器-->
    <add key="CCDEnable" value="0" />
    <add key="FluoEnable" value="0" />
    <add key="THEnable" value="0" />
    <add key="ASUEnable" value="0"/>
    <add key="FloatBallEnable" value="1"/>
    <!--是否有条码识别系统-->
    <add key="IDRead" value="0"/>
    <!--主仪器端口号-->
    <add key="MainPort" value="COM2" />
    <!--二维码端口号-->
    <add key="QRPort" value="COM6" />
    <!--温湿度端口号-->
    <add key="THPort" value="COM4" />
    <!--荧光端口号-->
    <add key="FluoPort" value="COM8" />
    <!--荧光电机端口号-->
    <add key="FluoMotorPort" value="COM5" />
    <!--ASU端口号-->
    <add key="ASUPort" value="COM1"/>
    <!--浮球-->
    <add key="FloatBallPort" value="COM9"/>
    <!--浮球警戒线稀释液、清洗液计数-->
    <add key="FloatBallVolume" value="150-50"/>
    <add key="FloatBallCount" value="151-51"/>
    <!--仪器间差异，添加校准参数y=ax+b,默认为a=0,b=1-->
    <add key="CMOSFix" value="1|0"/>
    <add key="FluoFix" value="1|0"/>
    <add key="PCTFix" value="1|0" />
    <!--当硬盘空间不足时，通过此参数表示是否自动清理，如果为1则清理除了最近的60000条记录-->
    <add key="AutoClean" value="0"/>
    <!--光源1、2的亮度值-->
    <add key="CCDLed1" value="800"/>
    <add key="CCDLed2" value="800"/>
    <!--温湿度报警参数，片仓湿度、片仓温度、转盘温度-->
    <add key="THAlert" value="100-100-100"/>
    <!--是否显示鼠标-->
    <add key="Cursor" value="1"/>
    <!--CCD的安装位置-->
    <add key="CCDLocation" value="1"/>
    <!--休眠时间，0表示不休眠-->
    <add key="SleepTime" value="30"/>
    <!--是否启用后台维护-->
    <add key="Debug" value="0"/>
    <!--自动校准QC结果-->
    <add key="QCAuto" value="1"/>
    <!--LED颠倒-->
    <add key="Westgard" value="0"/>
    <add key="PreDilu" value="5"/>
    <!--片仓锁-->
    <add key="ReagentLock" value="0-0-0-0-0"/>
    <!--条码长度-->
    <add key="BarcodeLength" value="10"/>
    <!--启用条码-->
    <add key="BarcodeEnable" value="1"/>
  </appSettings>
</configuration>